@import url('./variables.css');

@import url('./style.css');
@import url('./home.css');
@import url('./champs.css');


@media (max-width: 768px) {
  :root {
    --h1-size: 32px;
    --h1-line: 40px;

    --h2-size: 20px;
    --h2-line: 28px;

    --h3-size: 18px;
    --h3-line: 28px;
  }
}

