* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: 'Inter', sans-serif;
    color: var(--text-white);
}

.navbar {
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    border-bottom: 1px solid #2a2a2e;
    max-height: 100px;
}

.logo {
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 2px;
}

.gold {
     color: var(--accent-gold); 
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-white);
    font-size: 13px;
    font-weight: 600;
    transition: 0.3s;
}

nav ul li a:hover{
    color:var(--accent-gold);

}

.nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
    
}


.search-box input {
    background: #222227;
    border-width: 1px;
    border-color: var(--accent-gold);
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
}


.search-box input:hover {
    background-color: var(--accent-gold);
    transition: background-color 3s;
}

.login-btn{
    background: transparent;
    border: 1px solid var(--accent-gold);
    color: var(--accent-gold);
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;

}


.container {
     padding: 50px 5%; 
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.section-header h1 {
    font-weight: 800;
    font-size: 32px;
}

.match-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
}

.match-card {
    transition: transform 0.3s;
    cursor: pointer;
}

.match-card:hover {
     transform: translateY(-10px);
}

.card-img {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.rating {
    position: absolute;
    top: 15px;
    left: 15px;
    background: rgba(0,0,0,0.6);
    border: 2px solid var(--accent-gold);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: bold;
}

.match-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.category {
    color: var(--accent-gold);
    font-size: 13px;
}

.section-header ,.played{
    margin-top: 50px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 30px;
   
    
}

footer:hover{
    background-color: var(--accent-gold);
    color: var(--bg-color);
    transition: background-color 4s ease, color 4s ease;
    font-size: bold;
    
}

.role-tabs-nav{
    background-color: transparent;
    display: flex;
    padding-bottom: 20px;
    
}


.role-tabs-nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}


.role{
    border: none;
    color: var(--text-white);
    background-color: var(--bg-color);
    padding: 8px 20px;
    font-weight: bold;
    cursor: pointer;
}

.role.active{
    color: var(--accent-gold);
    border: 1px solid var(--accent-gold);
}

.role:hover{
    color: var(--accent-gold);
    border: 1px solid var(--accent-gold);
    transform: translateY(-5px);
    transition: color 1s ease , transform 1s ease;
    
}







