*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    background-color: var(--accent-gold);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh ;
    padding: 1rem;
    font-family: sans-serif;
}

.container{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    min-height: 90vh;
    max-width: 90vh;
    width: 100%;
    overflow: hidden;
    position: relative;

}

.navbar {
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    border-bottom: 1px solid #2a2a2e;
}

.logo {
    font-weight: 800;
    font-size: 24px;
    letter-spacing: 2px;
}

.gold { color: var(--accent-gold); }

nav ul { display: flex; list-style: none; gap: 30px; }
nav ul li a {
    text-decoration: none;
    color: var(--text-white);
    font-size: 13px;
    font-weight: 600;
    transition: 0.3s;
}

nav ul li a:hover { color: var(--accent-gold); }

.nav-right { display: flex; align-items: center; gap: 20px; }

.search-box input {
    background: #222227;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
}

.login-btn {
    background: transparent;
    border: 2px solid var(--accent-gold);
    color: var(--accent-gold);
    padding: 8px 20px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

h1{
    color: var(--nav-color);
    text-align: center;
}

#login-btn-btn{
    width: 95%;
    height: 40px;
    background-color: var(--accent-gold);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
   
}

#login-btn-btn:hover{
    transform: translateY(-1px);
    background-color: var(--nav-color);
    color: var(--accent-gold);
    transition: background-color 0.6s ease , color 0.6s ease;
}

#login-screen{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}


.username{
    border-width: 1px;
    border-radius: 20px;
    border-color: var(--accent-gold);
    text-align: center;
    min-width: 90%;
    min-height: 50px;
    font-size: 24px;
    font-weight: bold;
   
}



.password{
    border-width: 1px;
    border-radius: 20px;
    border-color: var(--accent-gold);
    text-align: center;
    min-width: 90%;
    min-height: 50px;
     font-size: 24px;
    font-weight: bold;
    

}

.form-options {
    display: flex;             /* Yan yana getirir */
    justify-content: space-between; /* İki uca iter (Biri sola, biri sağa) */
    align-items: center;       /* Dikeyde hizalar */
    width: 90%;               /* Kutunun tamamına yayılmasını sağlar */
    margin-top: 15px;          /* Üstteki inputlarla mesafe */
    font-size: 14px;
    color: var(--nav-color);
}


.forgot-link {
    color: var(--accent-gold);
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;

}


.account{
    color: var(--nav-color);
    display: flex;             
    justify-content: center; 
    align-items: center;       
    width: 90%;             
}

.account:hover{

    transform: translateY(-2px);
}
    


.account a{
    text-decoration: none;
    color: var(--accent-gold);
    font-weight: bold;
    font-size: 20px;
}



