.modal {
    display: block; /* Başlangıçta gizli */
    position: fixed;
    z-index: 100;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.7); /* Karartma */
}

.modal-content {
    background-color: #1a1a1a; /* Koyu tema */
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #c8aa6e; /* LoL altın rengi */
    width: 400px;
    color: red;
    border-radius: 8px;
}

.save-btn {
    background: #c8aa6e;
    color: black;
    padding: 10px;
    width: 100%;
    margin-top: 15px;
    cursor: pointer;
    font-weight: bold;
}

.h2{
    color: red;
}